.w-100 {
    width: 100%;
}

.input-card {
    width: 50%;
    max-width: 484px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-header {
    display: block;
}

.input-form {
    height: 48px;
    border-radius: 16px;
    width: 100%;
    background: #fff;
    border: 1px solid #8b8b8b;
    align-self: left;
    margin-bottom: 24px;
}

.input-label {
    display: block;
    font-weight: bold;
    margin: 4px;
}